*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root {
  height: 100%; /* Ensure full page height */
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.footer {
  background-color: #c197d2;
  padding: 1rem 0; /* Reduced from 2rem to 1rem */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* Flexbox container for footer content */
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Styling for footer navigation links */
.footer-nav {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Increased gap between navigation elements */
  align-items: center;
}

.footer-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.footer-link:hover {
  color:white;
  opacity: 1;
}

/* Dropdown styles */
.dropdown-container {
  position: relative;
  cursor: pointer;
}

.dropdown-container .footer-link::after {
  content: "▼";
  display: inline-block;
  margin-left: 5px;
  font-size: 0.5em;
  transition: transform 0.3s ease;
}

.dropdown-container:hover .footer-link::after {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 0.3s ease;
  min-width: 150px;
  margin-bottom: 0.5rem;
}

.dropdown-container:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.dropdown-item {
  color: #c197d2;
  text-decoration: none;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.dropdown-item:hover {
  background-color: #F3D9F3;
}

/* Social media icons styling */
.social-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.social-icon {
  width: 42px;
  height: 42px;
  transition: transform 0.3s ease;
}

.social-icon:hover {
  transform: scale(1.1);
  background-color: white;
  border-radius: 50%;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    margin-top: 0.5rem;
    gap: 1.5rem; /* Slightly reduced gap for mobile */
  }

  .social-links {
    margin-bottom: 0.5rem;
  }

  .dropdown-menu {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 480px) {
  .footer-link {
    font-size: 0.9rem;
  }

  .footer-nav {
    gap: 1rem; /* Further reduced gap for smaller screens */
  }

  .social-icon {
    width: 32px;
    height: 32px;
  }
}